flake8==4.0.1
flake8-polyfill==1.0.2
flake8-quotes==3.3.1
mypy==0.910
pep8-naming==0.12.1
pytest==6.2.5
pytest-cov==3.0.0
pytest-mock==1.10.4
pytest-raises==0.11
pytest-profiling==1.7.0
pytest-raises==0.11
vulture==2.3
pycodestyle==2.8.0
pylint==2.13.9
coverage
lizard
typing
